body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*About styling*/

#about {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: linear-gradient(
    to bottom,
    #000000 0%,
    rgba(22, 22, 22, 0.9),
    rgba(79, 131, 127, 0.9)
  );
}

.progress {
  height: 25px !important;
  margin: 20px 0px;
}

.skills-container {
  padding: 20px;
  background: linear-gradient(
      to bottom,
      whitesmoke 0%,
      rgba(79, 131, 127, 0.9) 50%,
      whitesmoke
    ),
    url("./img/project-bg.jpg") fixed;
}

.tech-stack {
  padding: 20px;

  background: linear-gradient(
      to bottom,
      whitesmoke 0%,
      rgba(79, 131, 127, 0.9) 50%,
      whitesmoke
    ),
    url("./img/project-bg.jpg") fixed;
}

/* Projects section */
#projects {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: linear-gradient(
      to bottom,
      rgba(79, 131, 127, 0.9) 0%,
      #ffffff,
      rgba(50, 50, 50, 1)
    ),
    url("./img/project-bg.jpg") fixed;
}

.projects-img {
  border: 1px solid black;
  height: 350px;
  overflow: hidden;
}

@media (min-width: 992px) {
  /* for big screens */
  .project-img {
    border: 1px solid black;
    height: 350px;
    overflow: hidden;
  }

  .project-img img {
    transition: transform 0.5s ease;
  }

  .project-img:hover img {
    transform: scale(1.5);
  }
}

.featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .featured-text {
    padding: 0 1rem 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

/* Publications */
#publications {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: linear-gradient(
    to bottom,
    rgba(50, 50, 50, 1) 0%,
    rgba(143, 30, 37, 0.5) 50%
  );
}
